<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Contact Us</h1>
  <ul>
    <li>Email: <a href="agriculturalfoundationiv@gmail.com %>"><%= contacts.email %></a></li>
    <li>Email: <a href="servicecenteragriculturalfoundation@gmail.com %>"><%= contacts.email %></a></li>
    <li>Telegram: <a href="t.me/Afoundationservicecenter">Join Telegram</a></li>
    <li>Phone: <%= +1 453xxxxxxx %></li>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
